body {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.models-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.model-years-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.extras-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.extras-goods-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bottom-footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
